body {
    margin: 0px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__pizza {
    display: flex;
    width: 4%;
    margin-top: 18px;
    text-align: center;
}

.titulo__principal {
    font-size: 26px;
}

.titulo__criar__conta {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 50px 0px;
    font-size: 36px;
    padding: 10px;
    text-transform: uppercase;
    background: rgb(197, 205, 212);
    font-family: Arial, Helvetica, sans-serif, Times, serif
}

.container-form {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 1024px) {
    .input-container {
        display: flex;
        text-align: start;
        flex-direction: column;
        padding: 20px;
    }
}

.input-container {
    display: flex;
    text-align: start;
    flex-direction: column;
    padding: 20px ;
    width: 350px;
    font-family: 'Poppins', sans-serif;
}
