
body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

.cabecalho {
  display: flex;
  justify-content: center;
}

.cabecalho__menu ul {
  padding: 0px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.cabecalho__menu {
  display: flex;
  justify-content: center;
  padding-right: 30px;
}

@media screen and(max-width: 1024px) {
  .logo__pizza {
    display: flex;
    width: 10%;
    text-align: center;
  }
}

.logo__pizza {
  display: flex;
  text-align: start;
  flex-wrap: wrap;
  width: 15%;
  padding-top: 6px;
}

.titulo__principal {
  font-size: 36px;
  list-style-type: none;
}

.titulo__criar__conta {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 50px 0px;
  font-size: 36px;
  padding: 10px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.467);
  color: white;
  font-family:  "Poppins", sans-serif;
}

.container-form {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 1024px) {
  .input-container {
    display: flex;
    text-align: start;
    flex-direction: column;
    padding: 20px;
  }
}

@media screen and (min-width: 1024px) {
 
.input-container {
  display: flex;
  text-align: start;
  flex-direction: column;
  padding: 20px 0px;
  max-width: 690px;
  font-family: "Poppins", sans-serif;
} 
}

.input-container {
  display: flex;
  text-align: start;
  flex-direction: column;
  padding: 20px 0px;
  font-family: "Poppins", sans-serif;
}

.botao__criar__conta {
  padding: 15px 90px;
  background: rgb(0, 0, 0);
  color: white;
  text-transform: uppercase;
  border: none;
  margin: 15px;
  border-radius: 5px;
}

.input {
  display: flex;
  text-align: start;
  padding: 10px;
  border-radius: 10px;
  background: #fcfcfc;
}
