body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

.cabecalho {
  display: flex;
  justify-content: center;
}

.cabecalho__menu ul {
  padding: 0px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.cabecalho__menu {
  display: flex;
  justify-content: center;
  padding-right: 30px;
}

@media screen and(max-width: 1024px) {
  .logo__pizza {
    display: flex;
    width: 10%;
    text-align: center;
  }
}

.logo__pizza {
  display: flex;
  text-align: start;
  flex-wrap: wrap;
  width: 15%;
  padding-top: 6px;
}

.titulo__principal {
  font-size: 36px;
  list-style-type: none;
}

.cadastro-concluido {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cadastro__titulo {
  font-size: 46px;
}

.cadastro__concluido {
  font-size: 26px;
}

.imagem__sucesso {
  width: 70px;
}

.figure__concluido {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 80px;
}

.botao__concluido {
  padding: 10px 25px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  border: none;
  background: rgb(6, 6, 6);
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
}

